body {
    font-size: .875rem;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/*@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}*/

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.card{
    box-shadow: 0 0 11px 0px #00000085;
}

.card, .card h1{
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
}

.card:hover{
    transform: scale(1.02);
}

.card:hover h1{
    font-size: 46px;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #a72c2c;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.nav-item .nav-link svg{
    margin-right:5px ;
}

.nav-item .nav-link{
    margin: 2px 5px;
}

.nav-link:hover{
    background-color: lightgray;
    border-radius: 5px;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 10px;
    padding: 10px;
    border-top: 1px solid lightgray;
}

main{
    min-height: calc(100vh - 48px);
}

#company-name{
    animation-name: hello-css3-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes hello-css3-animation {
    0%{
        transform: rotateY(0deg);
    }
    25%{
        transform: rotateY(90deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(270deg);
    }
    100%{
        transform: rotateY(350deg);
    }
}